.DS_Store
.idea

# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class



.idea/
.vs/
.env
.pk
.pem
.pub
.google-cookie
.0